body {
background-color: #ffffff;
}

#wrapper {
background-color: #000000;
}

#header {
background-color: #c3c3c3;
}

#nav {
background-color: #c3c3c3;
}

#content {
background-color: #444444;
}

#sidebar {
background-color: #c3c3c3;
}

#footer {
background-color: #c3c3c3;
}

#default_friends {
margin:10px;
color:#d6d6d6;
background-color: light-gray;
}

#negative {
margin:10px;
color:#d6d6d6;
background-color: blue;
}

#positive {
margin:10px;
color:#d6d6d6;
background-color: green;
}

#neutral {
margin:10px;
color:#d6d6d6;
background-color: yellow;
}